<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">
      Mis tareas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if(tasks.length > 0) {
    <ion-list>
      @for (task of tasks; track task.id) {
        <ion-item>
          <ion-label>
            <h2>{{ task.titulo }}</h2>
            <p>{{ task.descripcion }}</p>
            <p><strong>Fecha límite:</strong> {{ task.fechaLimite || 'Sin fecha límite' }}</p>
            <p><strong>Categoría:</strong> {{ task.categoria || 'Sin categoría' }}</p>
            <p><strong>Prioridad:</strong> {{ task.prioridad || 'Sin prioridad' }}</p>
            <p><strong>Estado:</strong> {{ task.estado || 'Sin estado' }}</p>
          </ion-label>

          <ion-select
            interface="popover"
            [value]="task.estado"
            (ionChange)="updateTaskStatus(task.id, $event.detail.value)">
            <ion-select-option value="pendiente">Pendiente</ion-select-option>
            <ion-select-option value="en progreso">En progreso</ion-select-option>
            <ion-select-option value="completada">Completada</ion-select-option>
          </ion-select>

          <ion-button slot="End">
            <ion-button color="danger" (click)="deleteTask(task.id)">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-button>

        </ion-item>
      }
    </ion-list>
  } @else {
    <p class="ion-text-center">No tienes tareas Registradas.</p>
  }
</ion-content>